<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sprenklerventil Kontroll Interface</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Sprenklerventil Kontroll Interface v0.1</h1>
    <table>
        <thead>
            <tr>
                <th scope="col"> Nummer</th>
                <th scope="col"> Name</th>
                <th scope="col"> Status</th>
                <th scope="col"> Override</th>
                <th scope="col"> Status</th>

            </tr>
        </thead>
        <tbody>
            {{#each Valves}}
            <tr>
                <td>{{this.index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.status}}</td>
                <td><a href="./valves/{{this.index}}/schedule">Zeitplan</a></td>
                <td><a href="./valves/{{this.index}}/toggle">Zeitplan</a></td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</body>

</html>