<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sprenklerventil Kontroll Interface</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>

</head>

<body>
    <h1>Sprenklerventil Kontroll Interface v0.1</h1>
    <table>
        <thead class="tablehead">
            <tr>
                <th scope="col"> Nummer</th>
                <th scope="col"> Name</th>
                <th scope="col"> Status</th>
                <th scope="col"> Betriebsmodus</th>
                <th scope="col"> Zeitplan</th>

            </tr>
        </thead>
        <tbody>
            {{#each valves}}
            <tr class="tablebody">
                <td>{{this.index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.valve_status}}</td>
                <td><a href="./valves/{{this.index}}/toggle_status">{{this.automation_status}}</a></td>
                <td><a href="./valves/{{this.index}}">Zeitplan</a></td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</body>

</html>