<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sprenklerventil Kontroll Interface</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>

</head>

<body>
    <form action="/valves" method="POST" id="valve_creation_form" />
    <h1>Sprenklerventil Kontroll Interface v0.1</h1>
    <table>
        <thead class="tablehead">
            <tr>
                <th scope="col"> Nummer</th>
                <th scope="col"> Name</th>
                <th scope="col"> Status</th>
                <th scope="col"> Betriebsmodus</th>
                <th scope="col"> Zeitplan</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {{#each valves}}
            <tr class="tablebody">
                <td>{{this.index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.valve_status}}</td>
                <td>
                        <input type="radio" id="{{this.index}}_force_open" value="ForceOpen" name="{{this.index}}_automation_status" class="automation_status_radio" data-index="{{this.index}}"
                            {{#ifeq this.automation_status "ForceOpen" }} checked {{/ifeq}}
                            class="automation_status_radio">
                        <label for="{{this.index}}_force_open">Geöffnet</label><br />

                        <input type="radio" id="{{this.index}}_scheduled" value="Scheduled" name="{{this.index}}_automation_status" class="automation_status_radio" data-index="{{this.index}}"
                            {{#ifeq this.automation_status "Scheduled" }} checked {{/ifeq}}
                            class="automation_status_radio">
                        <label for="{{this.index}}_scheduled">Automatisch</label><br />

                        <input type="radio" id="{{this.index}}_force_closed" value="ForceClose" name="{{this.index}}_automation_status" class="automation_status_radio" data-index="{{this.index}}"
                            {{#ifeq this.automation_status "ForceClose" }} checked {{/ifeq}}
                            class="automation_status_radio">
                        <label for="{{this.index}}_force_closed">Geschlossen</label>
                </td>
                <td><a href="./valves/{{this.index}}">Zeitplan</a></td>
                <td><input type="button" value="delete" class="valve_delete_button" data-index={{this.index}}></td>
            </tr>

            {{/each}}

            <tr class="tablebody">
                <td><input type="number" name="index" form="valve_creation_form"></td>
                <td><input type="text" name="name" form="valve_creation_form"></td>
                <td><input type="submit" value="Neues Ventil anlegen" form="valve_creation_form"> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </form>
        </tbody>
    </table>
</body>

</html>