<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sprenklerventil Kontroll Interface</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>

</head>

<body>
    <h1>Sprenklerventil Kontroll Interface v0.1</h1>
    <table>
        <thead class="tablehead">
            <tr>
                <th scope="col"> Nummer</th>
                <th scope="col"> Name</th>
                <th scope="col"> Status</th>
                <th scope="col"> Betriebsmodus</th>
                <th scope="col"> Zeitplan</th>

            </tr>
        </thead>
        <tbody>
            {{#each valves as valve}}
            <tr class="tablebody">
                <td>{{valve.index}}</td>
                <td>{{valve.name}}</td>
                <td>{{valve.valve_status}}</td>
                <td>
                    <form>
                        <fieldset>
                            <input type="radio" id="force_open" name="ForceOpen" {{#ifeq valve.automation_status "ForceOpen" }} checked {{/if}}>
                            <label for="force_open">Geöffnet</label><br/>

                            <input type="radio" id="scheduled" name="Scheduled" {{#ifeq valve.automation_status "Scheduled"}} checked {{/if}}>
                            <label for="scheduled">Automatisch</label><br/>

                            <input type="radio" id="force_closed" name="ForceClose" {{#ifeq valve.automation_status "ForceClose"}} checked {{/if}}>
                            <label for="force_closed">Geschlossen</label>
                        </fieldset>
                    </form>
                    <a href="./valves/{{valve.index}}/toggle_status"></a>
                </td>
                <td><a href="./valves/{{valve.index}}">Zeitplan</a></td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</body>

</html>