<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{name}} Detail Ansicht</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<h1>{{name}}</h1>
Das Ventil {{name}} ist gerade {{valve_status}} und wird durch {{automation_status}} gesteurt.
<table>
{{#each schedule}}
        <tr>
            <th scope="row"> {{this.[0]}}</th>
            {{#each this.[1]}}
            <td> Von {{begin}} bis {{end}}</td>
            {{/each}}
        </tr>
{{/each}}
</table>
</body>