<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{name}} Detail Ansicht</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>

<body>
<h1>{{name}}</h1>
<div class="status_text">Das Ventil {{name}} ist gerade {{valve_status}} und wird durch {{automation_status}} gesteurt. </div>
<div class="table">
{{#each schedule as |day|}}
        <div class="column">
            <div class="day"> {{day.[0]}}</div>
            {{#each day.[1]}}
            <div id={{day.[0]}}_{{@index}} class="entry">
                <div class="cell schedule"> Von {{begin}} bis {{end}}</div>
                <input type="button" value="Remove">
            </div>
            {{/each}}
            <form method="POST" action="/valves/0/timetable" class="time_form entry">
                <div><input type="time" id="{{this.[0]}}_start_time" name="start_time">
                <label for="{{this.[0]}}_start_time"> Startzeit</label></div>
                <div><input type="time" id="{{this.[0]}}_end_time"  name="end_time">
                <label for="{{this.[0]}}_end_time"> Endzeit</label> </div>
                <div><input type="submit" value="Erstellen"> </div>
                <input type="hidden" name="day" value="{{@index}}">
            </form>
        </div>
{{/each}}
</div>

<a href="/">Back</a>
</body>